.title {
  font-family: var(--f-primary);
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;

  margin-bottom: 55px;
  padding-left: 5%;
}

.list {
  font-family: var(--f-primary);
  font-style: normal;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  padding-left: 5%;

  margin-top: 100px;
}

@media only screen and (max-width: 1340px) {
  .list {
    justify-content: center;
  }
}

@media only screen and (max-width: 929px) {
  .list {
    padding: 0;
  }
}
