.navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  padding-left: 10%;
}

.button {
  text-decoration: none;
  font-family: var(--f-primary);
  font-style: normal;
  color: var(--c-text);

  padding: 0 20px 10px;

  font-weight: 400;
  font-size: 16px;
  line-height: 120%;

  border-bottom: 2px solid transparent;
  transition: 300ms all;
}

.button:hover,
.button:active,
.active {
  color: var(--c-primary);
  border-bottom: 2px solid var(--c-primary);

  font-weight: 600;
}

@media only screen and (max-width: 700px) {
  .navigation {
    padding-left: 1%;
  }
}
