@font-face {
  font-family: "Raleway";
  src: url("../src/fonts/raleway/static/Raleway-Regular.ttf");
}

@font-face {
  font-family: "Roboto-Condensed";
  src: url("../src/fonts/roboto-condensed/RobotoCondensed-Regular.ttf");
}

@font-face {
  font-family: "Source-Sans-Pro";
  src: url("../src/fonts/source-sans-pro/SourceSansPro-Regular.ttf");
}

:root {
  --c-text: #1d1f22;
  --c-background: #ffffff;
  --c-primary: #5ece7b;

  --f-primary: "Raleway";
  --f-secondary: "Roboto-Condensed";
  --f-tertiary: "Source-Sans-Pro";
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  transition: all 300ms ease;
}

ul {
  list-style-type: none;
}
